<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class=""></a>
                </h1>
                <p>&copy; VNTG. All rights reserved. Powered by GitHub Pages.</p>
                
                <p> Created by <a href="https://github.com/jonggang08/VntgTechBlog" target="_blank">배종강 (Bae Jong-Gang)</a></p>
                
            </div>
            <div class="footer-plugins">
              <%- partial('plugin/scripts', { isFooter: true }) %>
            </div>
        </div>
    </div>
</footer>


